.service {
    /* border: 1px solid #043310; */
    border-radius: 20px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: 10px 10px 40px #393646;
}

.btnColor {
    background-color: #393646;
}